extends layout 

block content 
    h1 #{title}
    br
    form(method='POST')
        h5 
            label(for='name') Name:
            input#name.form-control(type='text' name='name' value=(name === undefined ? '' : category.name))
        br
        h5 
            label(for='description') Description: 
            input#description.form-control(type='text' name='description' value=(description === undefined ? '' : category.description))
        br
        button.btn.btn-primary(type='submit') Submit

